body{
    background-image: url(imgs/fondo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
img{
    width: 100%;
}

/*BARRAS DE NAVEGACIÓN*/
#nav1{
    background-color:rgb(65, 185, 255);
    }
#nav2{
    background-color: rgb(51, 211, 59);
    }
li a{
    color: azure;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 5px;
    font-size: 1.7rem;
    font-weight: bold;
}
.glyphicon.glyphicon-user{
    margin-right: 20px;
    
}

/*CONTAINER LOGO Y BARRA DE BÚSQUEDA*/
#logo{
    width: 400px;
    margin-top: 25px;
    margin-bottom: 25px;
    height: 230px;
    padding-left: 100px;
}

div.container-busqueda{
    display: flex;
    flex-direction: row;
}

#busqueda{
    width: 500px;
    margin-left: 600px;
    margin-top: 70px;
}

.input-group{
    width: 500px;
    margin-left: 600px;
    display: flex;
    flex-direction: row;
}
.btn.btn-default{
    height: 45px;
    width: 45px;
    color: orange;
    border-color: orange;
    border-width: medium;
    
}
.form-control{
    height: 45px;
    color: orange;
    border-color: orange;
    border-style:double;
    border-width: thick;
}

/*CUERPO DE INFORMACIÓN*/

#cuerpo{
    height: 650px;
}

#coluno{
    width: 800px;
}

h1{
    color: rgb(53, 170, 238);
    font-weight: bold;
}

div.row-cuerpo{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-left: 5%
}

.información-item h2 p{
    text-align: left;
}

h2{
    color: rgb(110, 110, 110);
}
p{
    font-size: 1.5rem;
}

#coldos{
    margin-left: 80px;
    margin-top: 30px;
}

#historiados{
    width: 600px;
}
#myCarousel{
    width: 600px;
    height: 400px;
    margin-bottom: 15px;
}
#carrut {
    width: 600px;
    height: 400px;
}

div.carousel-inner{
    width: 600px;
    height: 400px;
}


/*DIV FOOTER*/
#footer{
    background-color: orange;
    color: azure;
    font-size: 15px;
    text-align: center;
    line-height: 10px;
    
}
#footer h5{
    margin-top: 18px;
    font-size: 20px;
    line-height: 0%;
    margin-bottom: 2px;
}

#f1{
    text-align: right;
}

#f2{
    text-align: left;
}
a{
    color: white;
}